@tailwind base;
@tailwind components;
@tailwind utilities;

@media (orientation: portrait) {
    .image-text-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

@font-face {
  font-family: 'Prof Bens';
  src: url('/fonts/ProfBens.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tan-color {
  color: #ded2b4ff;
}

.pro-grey {
  background-color: #1a1a1aff
}

.pro-black {
  background-color: #000000ff
}

.friendly-text{
  color: #97b2cfff;
}

.button-color{
  color: #1c2d40ff;
}

.body-bg-color{
  background-color: #1c1d2cff;
}